.AnnouncementsView {
    padding: 10px 10px 0 10px;
    min-height: 40vh;
    width: 250px;
}

.AnnouncementsView__message {
    color: green;
    font-size: 0.7rem;
}

@media only screen and (min-width: 400px) {
    .AnnouncementsView {
        width: 350px;
    }
}
