.Button__button {
    background-color: #FFFFFF;
    border: 1px solid #B1B1B1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.14);
    font-size: .8rem;
    font-weight: bold;
    min-height: fit-content;
}

.Button__button:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.Button__button:active {
    background-color: #f1f1f1;
    cursor: pointer;
}
