@media only screen and (min-width: 600px) {
    .CityZipCodeInputFields{
        display: flex;
        width: 410px;
        justify-content: space-between;
    }

    .CityZipCodeInputFields>label:first-child{
        width: 300px;
    }

    .CityZipCodeInputFields>label:last-child{
        width: 100px;
    }
}
