.SearchBar__input {
    width: auto;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #B1B1B1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.14);
    padding: 0 10px;
    outline: none;
    font-size: 1rem;
}

.SearchBar__input:focus {
    border: 1px solid #757575;
}

.SearchBar__input::placeholder {
    font-size: .9rem;
}
