@media only screen and (min-width: 600px) {
    .UserNameInputFields {
        display: flex;
        width: 410px;
        justify-content: space-between;
    }

    .UserNameInputFields>.ShortTextInput {
        width: 200px;
    }
}
