.AnnouncementView {
    padding: 5px;
    min-height: fit-content;
    width: 250px;
}

.AnnouncementView__container {
    padding: 5px 5px;
}

.AnnouncementsView__button-container {
    display: flex;
    justify-content: end;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.AnnouncementsView__button-container>button {
    margin-left: 10px;
}

.AnnouncementsView__error {
    color: red;
    font-size: 0.7rem;
}

@media only screen and (min-width: 400px) {
    .AnnouncementView {
        width: 350px;
    }
}
