.AnnouncementInfo {
    width: 100%;
}

.AnnouncementInfo__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.AnnouncementInfo__header h3, .AnnouncementInfo__header p {
    font-size: 1.2rem;
    font-weight: bolder;
}

.AnnouncementInfo__id {
    font-size: .7rem;
}

.AnnouncementInfo__address {
    font-size: .9rem;
    font-weight: bold;
    margin: 10px 0 !important;
}

.AnnouncementInfo__description {
    text-align: justify;
    font-size: .8rem;
}

.AnnouncementInfo__link-container {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.AnnouncementInfo__date {
    font-size: .7rem;
}

.AnnouncementInfo__link-container .AuctionLink {
    margin: 3px;
}

