.NewPasswordInputFields__validation-error {
    color: red;
    font-size: 0.7rem;
}

@media only screen and (min-width: 600px) {
    .NewPasswordInputFields {
        display: flex;
        width: 410px;
        justify-content: space-between;
    }

    .NewPasswordInputFields>.PasswordInput {
        width: 200px;
    }
}
