.PasswordInputFields__validation-error {
    color: red;
    font-size: 0.7rem;
}

@media only screen and (min-width: 600px) {
    .PasswordInputFields {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .PasswordInputFields>.PasswordInput {
        width: 100%;
    }

    .PasswordInputFields>.PasswordInput:first-child {
        margin-right: 5px;
    }

    .PasswordInputFields>.PasswordInput:last-child {
        margin-left: 5px;

    }
}
