.Map {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 0;
}

.leaflet-container {
    height: 100%;
    z-index: 0;
}

.leaflet-top {
    position: absolute;
    top: 85px;
    border: none;
}

.leaflet-bottom {
    position: absolute;
    top: 100vh;
    transform: translateY(-20px);
}

.leaflet-popup-content p {
    margin: 0;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    border-radius: 4px;
}

.leaflet-popup {
    max-width: 90vw;
    max-height: 55vh;
    overflow-y: auto;
}

.leaflet-popup-content-wrapper {
    width: 100%;
}

@media only screen and (min-width: 700px) {
    .leaflet-top {
        top: 35px;
    }

    .leaflet-popup {
        overflow-y: initial;
    }
}
