.UserMenu {
    position: absolute;
    right: 0;
    top: 85px;
    width: fit-content;
    min-width: 250px;
    max-width: 90vw;
    height: fit-content;
    max-height: 70vh;
    margin: 10px;
    overflow-y: auto;
    background: white;
    border: 1px solid #B1B1B1;
}

@media only screen and (min-width: 700px) {
    .UserMenu {
        top: 45px;
    }
}
